body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#dataTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 80px;
}

#dataTable td, #dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
 
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable tr:hover {background-color: #ddd;}

#dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #22A7F0;
  color: white;
}


.pagination {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
  cursor: pointer;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.editForm{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  border: 2px;
  border-style: solid;
  border-color: lightgray;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px;
}

.editFormHeader{
  background-color:#337ab7;
  border-radius: 5px;
  color: white;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  text-align: center;
}


.editFormField{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}